<table class="table">
<tr><th>Name</th><th>Date of Birth</th></tr>
<% for will in @wills do %>
  <tr>
    <td><%= link_to "#{will.first_name} #{will.last_name}", will %></td>
    <td><%= will.dob %></td></tr>
<% end %>
</table>
