<div>
<h1>Please select from the following options</h1>
<ul><li><%= link_to "Search for a Will", action: :new %></li>
  <li><%= link_to "Browse Wills", controller: :will, action: :index %></li>
  <li><%= link_to "Browse open requests", controller: :request, action: :index %></li>
</ul>
</div>
