<h1>Find a Will</h1>
<%= form_tag(:controller => "will", :method => "get", id: "search-form", class: "form-inline") do %>
  <div class="form-group">
    <%= text_field_tag :search, params[:search], placeholder: "Search Wills" %>
  </div>
  <div id="submit">
    <%= submit_tag "Search", class: "btn btn-default btn-primary" %>
  </div>
<% end %>
