<h1>CCLA Wills</h1>
<p>Welcome to the County of Carleton Law Association Wills database. To request a will location, please enter testator information below.</p>


<div>
  <%= link_to "Register a Will", @testator %><br />
  <%= link_to "Search (authentication required)", @query %>
</div>

