<h1>CCLA Wills</h1>
<p>Thank you for your request. We will contact you within X business days.</p>

<%= @request.inspect %>
<br /><br />
<div>
  <%= link_to "Submit another request", @find %><br />
  <%= link_to "Register a Will", @testator %><br />
  <%= link_to "Search (authentication required)", @query %>
</div>

