<div class="welcome">
  <%= render "logonav" %>
  <div class="content">
      <h2>Contact</h2>

      <div id="contact-text">
        <p>If you have any questions about Will Check, please get in touch with the County of Carleton Law Association Library.</p>
        <p>Operating Hours:</p>
        <div id="hours-block">
          <p>Monday to Friday</p>
          <p>8:30 AM to 5:00 PM</p>
        </div>
        <p>Phone (Local): 613-233- 7386 x221</p>
        <p>Phone (Ontario Toll Free): 1-866- 637-3888</p>
        <p>Email: info@ccla-abcc.ca</p>
      </div>
    </div>
  </div>
