<div class="welcome">
<%= image_tag("WCLogo-trans.png", class: "logo") %>
<div id="link-bar">
  <table>
    <tr><td>RELEASE</td><td>FAQ</td><td>CONTACT</td></tr>
  </table>
</div>
<div id="blurb">
  <p>Will Check is a registry which stores information on the location of wills in Eastern Ontario. Will Check is currently offered free-of-charge to lawyers in Eastern Ontario, through the County of Carleton Law Association.</p></div>

<div id="links">
  <%= link_to "Find a Will", {controller: :request, action: :new}, class: "btn btn-default btn-primary" %>
  <%= link_to "Register a Will", {controller: :will, action: :new}, class: "btn btn-default btn-primary" %>
</div>
<%= image_tag("cclacenprigrayrgb300-small.png", class: "ccla") %>
</div>



