<div class="welcome content">
  <h2>Release</h2>

  <div id="release-text">
    <p>In order to secure your client’s permission to release information about their will to Will Check, we have prepared a release for you to customize for your office.</p>
    <ul><li><a href="#">Will Check Release – English</a></li>
      <li><a href="#">Will Check Release – French</a></li></ul>
  </div>
</div>
