body{
  background-color: LightBlue;
  font-family: Impact, Charcoal, sans-serif;
}

form {
  padding-top: 10px;
}
form-group{
  padding: 10px;
}

#sidebar{
  padding-top: 30px;
}

#sidebar a{
  padding: 10px;
}

